{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <title>TourifyPro</title>
</head>
<body>
    <header>
        <h1 class="logo">TourifyPro</h1>
        <center>
        <div class="divider"></div>

        <nav>
            <ul class="menu">


                <li><a href="{% url 'provhotel' %}">Hotel</a>&nbsp;&nbsp;&nbsp;</li>
                <li><a href="{% url 'provservices' %}">Services</a>&nbsp;&nbsp;&nbsp;</li>
                <li><a href="{% url 'provplaces' %}">Places</a>&nbsp;&nbsp;&nbsp;</li>
                <li><a href="{% url 'provfeedback' %}">Feedback</a>&nbsp;&nbsp;&nbsp;</li>
                <li><a href="{% url 'provlogout' %}">logout</a>&nbsp;&nbsp;&nbsp;</li>

            </ul>
        </nav>
    </center>
    </header>

    <!-- Content of your website goes here -->
{% block content %}

    {% endblock %}
</body>
</html>


